

<div style="display: flex; margin: 20px; padding: 25px;">

<!-- Sidemenu -->
<div class="list-group" style="width: 55%; margin-right: 50px;">
  <a href="#" class="list-group-item active">
    Resources
  </a>
  <a target="blank" href="http://tympanus.net/codrops/2011/11/24/top-10-reasons-to-use-html5-right-now/" class="list-group-item">Top 10 Reasons to use HTML5</a>
  <a target="blank" href="http://www.tutorialrepublic.com/html-examples.php" class="list-group-item">What's New in HTML5</a>
  <a target="blank" href="http://www.w3schools.com/html/html_examples.asp" class="list-group-item">HTML5 Tutorials</a>
  <a target="blank" href="https://www.cognifide.com/our-blogs/ux/5-reasons-why-html5-matters/" class="list-group-item">Why HTML5 Matters</a>
</div>

<!-- Right-side container -->
<div class="container-fluid">
<h4>This site was created using HTML5, CSS3 and JavaScript. It is fully responsive and backwards compatible with most devices of any size using Twitter's Bootstrap and HTML5 tags. Within this site, we are going to explore how to customize our users experience by leveraging these new technologies. This will include collecting and storing user info, interactivity with drag and drop features, file uploads, geolocation and maps plus a whole lot more!</h4><hr>


<div style="display: flex; width: 100%;"><!-- Begin Gallery -->

<div class="row">
  <div class="col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="https://assets.awwwards.com/awards/submissions/2016/12/58415b7df1ceb.jpg" alt="Plant Your Flag">
      <div class="caption">
        <h3>Plant Your FLag</h3>
        <p>Uses the "picture" tag.</p>
        <p><a target="blank" href="https://www.plantflags.com/en/" class="btn btn-primary" role="button">Visit</a> <a href="/users" class="btn btn-default" role="button">Info</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="https://assets.awwwards.com/awards/submissions/2016/11/583308af4e176.png" alt="Blueair AB">
      <div class="caption">
        <h3>Blueair AB</h3>
        <p>Uses the "video" tag.</p>
        <p><a target="blank" href="https://www.blueair.com/us" class="btn btn-primary" role="button">Visit</a> <a href="/users" class="btn btn-default" role="button">Info</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4">
    <div class="thumbnail">
      <img src="https://assets.awwwards.com/awards/submissions/2016/10/58068c13bde9a.jpeg" alt="Vendome Luxury">
      <div class="caption">
        <h3>Vendome Luxury</h3>
        <p>Uses "SVG" tag</p>
        <p><a target="blank" href="http://www.vendomeluxury-paris.com/" class="btn btn-primary" role="button">Visit</a> <a href="/users" class="btn btn-default" role="button">Info</a></p>
      </div>
    </div>
  </div>
</div>


</div><!-- End of Gallery div -->

</div> <!-- End of right-side container --> 

</div>